body {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: auto;
}
.img-section {
  background-color: #C2EDE2;
  text-align: center;
  float: left;
  width: 30%;
  height: 85px;
}
.header-header {
  background-color: #C2EDE2;
  float: left;
  width: 70%;
  height: 85px;
}
.header-of-heading{
  float: left;
  text-align: center;
  width: 50%;
  height: 50%;
}
.header-account{
  text-align: center;
  float: left;
  padding-top: 10px;
  width: 50%;
  height: 50%;
}
.header-account a{
  padding-left: 20px;
  padding-right: 20px;
}
.header-link{
  clear:both;
  text-align: right;
  width: 100%;
  height: 50%;
}
.header-link a{
  padding: 20px;
}
.logo {
  padding-top: 10px;
  padding-right: 15%;
  width: 60px;
}
.blog {
  padding: 10px;
  text-align: center;
  display:inline-block;
  height: 100%;
  width: 10%;
  margin: 0 4.0%;
  border: 2px outset #7ED7B3;
  border-radius: 8px;
  background-color: #c7d5cf;
}
.logo-img {
    margin:auto;
    height: 25%;
    width: 30%;
  }
.section {
  position: relative;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
.section-text {
  padding: 10px;
  text-align: center;
  width: 100%;
  background-color:#dbd4da;
}
.footer {
  padding: 0.1%;
  text-align: center;
  background-color:#6ac27c;
}
.text-center {
  padding: 1.0%;
  text-align: center;
}
.headtext {
  font-weight: bold;
  margin-bottom: 20px;
}
.overlay-image {
  width: 100%;
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.image-container .overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  text-align: left;
  background: rgba(0, 0, 0, .6);
  overflow: hidden;
  padding-top: 10%;
}
.change-color{
  color: green;
}
.blog:hover .change-color{
  color: blue;
}
.footer-link{
  margin: 10px;
}
.footer-link a{
  padding: 10px;
}
@media (min-width: 320px) and (max-width: 568px) {
  .img-section {
    float: none;
    width: 100%;
    height: auto;
  }
  .logo {
    padding-right: 15%;
    width: 20%;
  }
  .header-header {
    float: none;
    width: 100%;
    height: auto;
  }
  .header-account{
    padding-top: 10px;
  }
  .header-account a{
    padding-left: 10px;
    padding-right: 10px;
  }
  .header-link{
    width: 100%;
    height: 50%;
  }
  .header-link a{
    padding: 20px;
  }
  .logo-img {
    height: 20%;
    width: 25%;
  }
  .blog {
    margin-left: 30%;
    margin-bottom: 10%;
    padding: 10px;
    display:block;
    width: 30%;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .blog {
    margin-left: 10%;
    padding: 10px;
    text-align: center;
    display:inline-block;
    width: 20%;
    margin-bottom: 5%;
  }
}
@media (min-width: 900px) {
  .blog {
    padding: 10px;
    text-align: center;
    display:inline-block;
    height: 100%;
    width: 10%;
    margin: 0 4.0%;
    border: 2px outset #7ED7B3;
    border-radius: 8px;
    background-color: #c7d5cf;
  }
}