body {
  margin: 0;
  padding: 0;
}
.header{
  padding: 0.4%;
  background-color: #C2EDE2;
  text-align: center;
}
.logo-img{
  float: left;
  margin-left: 10%;
  height: 10%;
  width: 5.0%;
}
.logo{
  width: 50%;
}
.blog{
  padding: 10px;
  text-align: center;
  display:inline-block;
  height: 100%;
  width: 10%;
  margin: 0 4.0%;
  border: 2px outset #7ED7B3;
  border-radius: 8px;
  background-color: #c7d5cf;
}
.section{
  position: relative;
  top: 0;
  left: 0;
  padding: 1.0%;
  text-align: center;
}
.paragraph{
  padding: 1.0%;
  margin-top: 10px;
  text-align: center;
  background-color:#CFE9DE;
}
.footer{
  padding: 0.1%;
  text-align: center;
  background-color:#ebcfdd;
}
.text-center{
  padding: 1.0%;
  text-align: center;
}
.headtext {
  font-weight: bold;
  margin-bottom: 20px;
}
.overlay-image{
  width: 100%;
  height: 200px;
}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.image-container .overlay{
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  background: rgba(0, 0, 0, .5);
}
